<div class="conainer">
  <form>
    <div class="d-flex justify-content-center flex-column">
      <div class="row mb-4">
        <h1 class="text-center">ТПР<br />Індивідуальна робота 1<br />Завдання 1</h1>
      </div>
      <div class="row justify-content-center mb-4">
        <div class="col-1 mb-3">
          <label for="elements" class="form-label">Кількість елементів</label>
          <input [(ngModel)]="elements" (change)="generateMatrix()" name="elements" type="number" min="0"
            class="form-control" id="elements">
          <button class="btn btn-primary mt-3" (click)="calculate()">Розрахувати</button>
        </div>
      </div>

      @if (elements > 1){
      <div class="row calc-area mb-4">
        <div class="col-4 d-flex flex-column align-items-center">
          <h3>Вхідне відношення:</h3>
          <div class="matrix position-relative">
            <div class="elements-names d-flex justify-content-between">
              @for (_ of relation; track $index; let i = $index){
              <span>x{{i + 1}}</span>
              }
            </div>
            @for (row of relation; track $index; let rowIdx = $index){
            <div class="matrix-row">
              <span class="row-element-name">x{{rowIdx + 1}}</span>
              @for (el of row; track $index; let elIdx = $index){
              <input [(ngModel)]="relation[rowIdx][elIdx]" min="0" max="1" type="number" [name]="'{{rowIdx}}{{elIdx}}'"
                [id]="'{{rowIdx}}{{elIdx}}'">
              }
            </div>
            }
          </div>
        </div>
        <div class="col-8 row">
          @if (isCalculated) {
          <div class="col-6 d-flex flex-column gap-3">
            <h4>Чи є рефлексивним: {{isReflexive ? 'Так' : 'Ні'}}</h4>
            <h4>Чи є антирефлексивним: {{isIrreflexive ? 'Так' : 'Ні'}}</h4>
            <h4>Чи є симетричним: {{isSymmetric ? 'Так' : 'Ні'}}</h4>
            <h4>Чи є асиметричним: {{isAsymmetric ? 'Так' : 'Ні'}}</h4>
            <h4>Чи є антисиметричним: {{isAntisymmetric ? 'Так' : 'Ні'}}</h4>
            <h4 class="mb-4">Чи є транзитивним: {{isTransitive ? 'Так' : 'Ні'}}</h4>
            <h4>
              Найкращі значення:
              @if (bestElements.length === 0) {
              Відсутні
              }
              @else {
              @for(el of bestElements; track $index){
              x{{el + 1}}{{$last ? '' : ', '}}
              }
              }
            </h4>
            <h4>
              Найгірші значення:
              @if (worstElements.length === 0) {
              Відсутні
              }
              @else {
              @for(el of worstElements; track $index){
              x{{el + 1}}{{$last ? '' : ', '}}
              }
              }
            </h4>
            <h4>
              Максимальні значення:
              @if (maxElements.length === 0) {
              Відсутні
              }
              @else {
              @for(el of maxElements; track $index){
              x{{el + 1}}{{$last ? '' : ', '}}
              }
              }
            </h4>
            <h4>
              Мінімальні значення:
              @if (minElements.length === 0) {
              Відсутні
              }
              @else {
              @for(el of minElements; track $index){
              x{{el + 1}}{{$last ? '' : ', '}}
              }
              }
            </h4>
          </div>

          <div class="col-6 d-flex flex-column align-items-center">
            <!-- Inverted -->
            <h3>Обернене відношення:</h3>
            <div class="matrix position-relative">
              <div class="elements-names d-flex justify-content-between">
                @for (_ of invertedR; track $index; let i = $index){
                <span>x{{i + 1}}</span>
                }
              </div>
              @for (row of invertedR; track $index; let rowIdx = $index){
              <div class="matrix-row">
                <span class="row-element-name">x{{rowIdx + 1}}</span>
                @for (el of row; track $index; let elIdx = $index){
                <input [value]="invertedR[rowIdx][elIdx]" disabled="" min="0" max="1" type="number"
                  [name]="'in{{rowIdx}}{{elIdx}}'" [id]="'in{{rowIdx}}{{elIdx}}'">
                }
              </div>
              }
            </div>
            <!---->
            <!-- Additive -->
            <h3>Додаткове відношення:</h3>
            <div class="matrix position-relative">
              <div class="elements-names d-flex justify-content-between">
                @for (_ of additivR; track $index; let i = $index){
                <span>x{{i + 1}}</span>
                }
              </div>
              @for (row of additivR; track $index; let rowIdx = $index){
              <div class="matrix-row">
                <span class="row-element-name">x{{rowIdx + 1}}</span>
                @for (el of row; track $index; let elIdx = $index){
                <input [value]="additivR[rowIdx][elIdx]" disabled="" min="0" max="1" type="number"
                  [name]="'ad{{rowIdx}}{{elIdx}}'" [id]="'ad{{rowIdx}}{{elIdx}}'">
                }
              </div>
              }
            </div>
            <!---->
            <!-- Strict -->
            <h3>Строге відношення:</h3>
            <div class="matrix position-relative">
              <div class="elements-names d-flex justify-content-between">
                @for (_ of strictR; track $index; let i = $index){
                <span>x{{i + 1}}</span>
                }
              </div>
              @for (row of strictR; track $index; let rowIdx = $index){
              <div class="matrix-row">
                <span class="row-element-name">x{{rowIdx + 1}}</span>
                @for (el of row; track $index; let elIdx = $index){
                <input [value]="strictR[rowIdx][elIdx]" disabled="" min="0" max="1" type="number"
                  [name]="'s{{rowIdx}}{{elIdx}}'" [id]="'s{{rowIdx}}{{elIdx}}'">
                }
              </div>
              }
            </div>
            <!---->
          </div>
          }
          @else {
          <div class="col-12 d-flex align-items-center justify-content-center">
            <h2>Введіть відношення</h2>
          </div>
          }
        </div>

      </div>
      }
    </div>
  </form>
</div>